body {
    background-color: #102F45;
}

.post {
    height: 400px;
    width: 500px;
    margin: auto;
}

.userData {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userData.description {
    text-align: start;
    font-size: 10px;
    padding: 0 1rem;
}

.image_user {
    margin-left: 10px;
}

.image_user>img {
    border-radius: 50%;
}

.name_user {
    width: calc(100% - 70px);
    height: 100%;
}

.name_user>p {
    padding: 10px;
}

.image_post {
    height: calc(100% - 120px);
}

.image_post>img {
    height: 100%;
    width: 100%;
    padding: 4px 1rem;
}

.btnLike,
.counterLike {
    margin: 0 50px;
    width: 30%;
    height: 40px;
}

.btnLike {
    background-color: transparent;
    border: none;
}

.counterLike {
    padding-top: 10px;
    font-size: 14px;
}